doctype html
html(lang="en")
  include ./partials/_head.pug

  body

    h1(style="text-align: center") Sorry, an error occured. Please try again!
    p(style="text-align: center") Error: #{error}
    a(href='/' style="text-align: center; display: inline-block; width: 100%;") Return to the Home page!