doctype html
html(lang="en")
	include ./partials/_head.pug

	body
		include ./partials/_nav.pug
		block content
		
		
		script(src="/static/js/jquery.min.js")
		script(src="/static/js/app.js")